* {
  font-family: "Calibri", sans-serif;
}

body {
  background-color: rgb(79, 79, 79);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  
}

.container {
  border: 0;
  background-color: rgb(127, 127, 127);
  border-radius: 10px;
  width: fit-content;
  padding: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time {
  font-size: 50px;
  color: rgb(239, 249, 255);
  padding: 1rem 0;
  margin: 0;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.buttons button {
  padding: .4rem 1rem;
  border-radius: .5rem;
  border: 0;
  font-size: 20px;
  font-weight: 600;
  color: white
}

.start {
  background-color: rgb(21, 98, 187);
}

.stop {
  background-color: rgb(161, 49, 49);
}

.reset {
  background-color: green;
}
