.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskCard {
 display: flex;
 flex-direction: column;
 gap: 20px;
 margin: 3rem;
}

li {
  display: flex;
  width: 25rem;
  justify-content: space-between;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

button {
  height: fit-content;
}